.shopMan {
  transform: rotate(-90deg);
  /* writing-mode: vertical-rl; */
  color: black;
  font-size: 22px;
  height: 80px;
  margin-top: 300px;
}

.shopWoman {
  transform: rotate(90deg);
  color: black;
  font-size: 22px;
  height: 80px;
  margin-top: 300px;
}

.font_raleway {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
  height: 100vh;
}

.form_div {
  background-color: white;
  height: 70%;
  border-radius: 10px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.login_style {
  font-weight: 300;
  color: #4b5563;
}

.input {
  height: 50px;
  width: 100%;
  padding: 10px;
  border: 1px solid #a9a9a9;
}

.input:hover {
  border-color: #57b846;
}

.input:focus {
  border: 1px solid #57b846;
  outline: none;
}

#button:hover {
  background-color: #57b846;
}

.img_man {
  max-width: 100%;
  height: auto;
  width: 411px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .img_man {
    height: 280px;
    width: auto;
  }
}
